:root {
  --color-pink: #e6308a;
  --color-orange: #d54f01;
  --color-blue: #0461cf;
  --color-green: #22a53c;
  --color-purple: #5928ed;
  --color-red: #dc143c;
}

.tag-canvas {
  width: 90%;
  max-width: 600px;
  height: 50vh;
  border: 1px solid #001d44;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.title {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #001d44;
  text-transform: uppercase;
  margin: 0;
}

.tag {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  height: 40px;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

/* Custom colors for tags */

.tag:nth-child(2) {
  background-color: var(--color-pink);
}

.tag:nth-child(3) {
  background-color: var(--color-orange);
}

.tag:nth-child(4) {
  background-color: var(--color-blue);
}

.tag:nth-child(5) {
  background-color: var(--color-green);
}

.tag:nth-child(6) {
  background-color: var(--color-purple);
}

.tag:nth-child(7) {
  background-color: var(--color-red);
}

.tag:nth-child(8) {
  background-color: var(--color-green);
}

